*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    height: 70vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    background-color: #FFFFFF;
}
main{
    position: relative;
    height: 100vh;
}
.container{
    width: 50vw;
    border-radius: 10px;
    margin: 5px auto;
    background-color: #92B4EC;
    background-image: linear-gradient(to right,#92B4EC,skyblue);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.navigation{
    height: 10vh;
    display: flex;
    align-items: center;
}
h1{
    font-size: 4rem;
    padding: 3rem;
    color: #fff;
}
.body{
    height: 60vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
   
    align-items: center;
    justify-content: space-evenly;

}
input{
    outline: none;
    padding: 3rem;
    font-size: 2rem;
    background-image: none;
    border: none;
    border-bottom: 4px solid rgb(0, 255, 85);
    border-radius: 5px;
    max-width:80vw;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
button{
    font-size: 2rem;
    background-color: rgb(0, 0, 255);
    color: #fff;
    padding: 2rem 2rem;
    border: none;
    border-radius: 4px;
    margin: 2rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.output{
    align-items: center;
    height: 20vh;
    background-color: #fff;
    width: 40vw;
    border-left: 9px solid #92B4EC;
    border-radius: 5px;
    padding: 4rem;
    font-size: 2rem;
    overflow: auto;
}
h2{
    
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding: 2rem;
}
@media only screen and (max-width: 800px){
    html{
        font-size: 45%;
    }
    .body{
        flex-direction: row;
    }
    .output{
        width: 80vw;
}
}